# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# Virtual Environments
# -----------------------
.venv/
venv/

# -----------------------
# Django
# -----------------------
db.sqlite3
*.log
staticfiles/
media/

# -----------------------
# Environment / Secrets
# -----------------------
.env
.env.*

# -----------------------
# Git
# -----------------------
.git
.gitignore

# -----------------------
# IDEs / OS
# -----------------------
.idea/
.vscode/
.DS_Store
Thumbs.db

# -----------------------
# Training / Data files
# -----------------------
training_data.pdf
*.csv
*.json
